<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa do código</title>
</head>
<body>
    <h1> Listagem de livros </h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Título</td>
        </tr>
            <tr for (livro in data.livros)>
            <td>${livro.id}</td>
            <td>${livro.titulo}</td>
        </tr>
    </table> 
</body>
</html>